* {
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}

main {
    width: 100%;
    height: 100vh;
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
h1{
    position: absolute;
    top: 45px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 50px;
    color: transparent;
    background:linear-gradient(45deg , rgb(57, 1, 83) ,rgb(116, 46, 148),rgb(105, 179, 211) ,rgb(16, 150, 150),rgb(0, 180, 200));
    background-clip: text;

}
.row1 {
    display: flex;
    align-items: center;
    /* vertically */
    justify-content: center;
    /* horizontally */
    width: 400px;
    margin: 10x;
    font-size: 20px;
    color: white;
}
.row2{
     width: 400px;
    margin: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 180px;
    
}
.details {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
       color: white;
    
    
    
}
.row2 h3{
    font-size: 40px;
        color: white;
    
}
.row2 h2{
    font-size: 40px;
     /* color: transparent;
    background:linear-gradient(45deg , rgb(17, 54, 165) ,rgb(238, 0, 255));
    background-clip: text; */
    
}
.row2 h4{
    font-size: 30px;
      /* color: transparent;
    background:linear-gradient(45deg , rgb(17, 54, 165) ,rgb(238, 0, 255));
    background-clip: text; */
}

#search {
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    outline: none;
    box-shadow: 0px 0px 5px grey;
    width: 400px;
    height: 40px;
}